.gradle/file-system.probe
.gradle/7.3.3/gc.properties
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/checksums/md5-checksums.bin
.gradle/7.3.3/checksums/sha1-checksums.bin
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.vscode/launch.json
.vscode/settings.json
bin/main/pack.mcmeta
bin/main/META-INF/mods.toml
bin/main/assets/nwtweaks/blockstates/crafted_command_block.json
bin/main/assets/nwtweaks/blockstates/ender_command_block.json
bin/main/assets/nwtweaks/blockstates/fake_command_block.json
bin/main/assets/nwtweaks/lang/en_us.json
bin/main/assets/nwtweaks/lang/es_es.json
bin/main/assets/nwtweaks/models/block/crafted_command_block.json
bin/main/assets/nwtweaks/models/block/ender_command_block.json
bin/main/assets/nwtweaks/models/block/fake_command_block.json
bin/main/assets/nwtweaks/models/item/crafted_command_block.json
bin/main/assets/nwtweaks/models/item/ender_command_block.json
bin/main/assets/nwtweaks/models/item/fake_command_block.json
bin/main/assets/nwtweaks/textures/block/crafted_command_block.png
bin/main/assets/nwtweaks/textures/block/crafted_command_block.png.mcmeta
bin/main/assets/nwtweaks/textures/block/ender_command_block.png
bin/main/assets/nwtweaks/textures/block/ender_command_block.png.mcmeta
bin/main/assets/nwtweaks/textures/block/fake_command_block.png
bin/main/com/newwind/nwtweaks/NWTweaks.class
bin/main/com/newwind/nwtweaks/block/EnderCommandBlock.class
bin/main/com/newwind/nwtweaks/item/BlockItemWDescription.class
bin/main/com/newwind/nwtweaks/item/CraftedCommandBlock.class
bin/main/com/newwind/nwtweaks/registry/Blocks.class
bin/main/com/newwind/nwtweaks/registry/Items.class
bin/main/data/nwtweaks/loot_tables/blocks/crafted_command_block.json
bin/main/data/nwtweaks/loot_tables/blocks/ender_command_block.json
bin/main/data/nwtweaks/loot_tables/blocks/fake_command_block.json
bin/main/data/nwtweaks/recipes/fake_command_block.json
build/classes/java/main/com/newwind/nwtweaks/NWTweaks.class
build/classes/java/main/com/newwind/nwtweaks/block/EnderCommandBlock.class
build/classes/java/main/com/newwind/nwtweaks/item/BlockItemWDescription.class
build/classes/java/main/com/newwind/nwtweaks/item/CraftedCommandBlock.class
build/classes/java/main/com/newwind/nwtweaks/registry/Blocks.class
build/classes/java/main/com/newwind/nwtweaks/registry/Items.class
build/createMcpToSrg/output.tsrg
build/downloadMCMeta/version.json
build/downloadMcpConfig/output.zip
build/extractSrg/output.srg
build/libs/nwtweaks-1.16-0.0.1.0.jar
build/reobfJar/log.txt
build/reobfJar/output.jar
build/resources/main/pack.mcmeta
build/resources/main/META-INF/mods.toml
build/resources/main/assets/nwtweaks/blockstates/crafted_command_block.json
build/resources/main/assets/nwtweaks/blockstates/ender_command_block.json
build/resources/main/assets/nwtweaks/blockstates/fake_command_block.json
build/resources/main/assets/nwtweaks/lang/en_us.json
build/resources/main/assets/nwtweaks/lang/es_es.json
build/resources/main/assets/nwtweaks/models/block/crafted_command_block.json
build/resources/main/assets/nwtweaks/models/block/ender_command_block.json
build/resources/main/assets/nwtweaks/models/block/fake_command_block.json
build/resources/main/assets/nwtweaks/models/item/crafted_command_block.json
build/resources/main/assets/nwtweaks/models/item/ender_command_block.json
build/resources/main/assets/nwtweaks/models/item/fake_command_block.json
build/resources/main/assets/nwtweaks/textures/block/crafted_command_block.png
build/resources/main/assets/nwtweaks/textures/block/crafted_command_block.png.mcmeta
build/resources/main/assets/nwtweaks/textures/block/ender_command_block.png
build/resources/main/assets/nwtweaks/textures/block/ender_command_block.png.mcmeta
build/resources/main/assets/nwtweaks/textures/block/fake_command_block.png
build/resources/main/data/nwtweaks/loot_tables/blocks/crafted_command_block.json
build/resources/main/data/nwtweaks/loot_tables/blocks/ender_command_block.json
build/resources/main/data/nwtweaks/loot_tables/blocks/fake_command_block.json
build/resources/main/data/nwtweaks/recipes/fake_command_block.json
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
run/options.txt
run/usercache.json
run/usernamecache.json
run/config/fml.toml
run/config/forge-client.toml
run/config/forge-common.toml
run/logs/2022-07-18-2.log.gz
run/logs/2022-07-18-3.log.gz
run/logs/2022-07-18-4.log.gz
run/logs/2022-07-18-5.log.gz
run/logs/2022-07-18-6.log.gz
run/logs/2022-07-18-7.log.gz
run/logs/2022-07-18-8.log.gz
run/logs/2022-07-18-9.log.gz
run/logs/2022-07-18-10.log.gz
run/logs/2022-07-18-11.log.gz
run/logs/2022-07-18-12.log.gz
run/logs/2022-07-18-13.log.gz
run/logs/2022-07-18-14.log.gz
run/logs/2022-07-18-15.log.gz
run/logs/2022-07-18-16.log.gz
run/logs/2022-07-18-17.log.gz
run/logs/2022-07-18-18.log.gz
run/logs/2022-07-18-19.log.gz
run/logs/2022-07-19-2.log.gz
run/logs/2022-07-19-3.log.gz
run/logs/2022-07-19-4.log.gz
run/logs/2022-07-19-5.log.gz
run/logs/2022-07-19-6.log.gz
run/logs/2022-07-19-7.log.gz
run/logs/2022-07-19-8.log.gz
run/logs/2022-07-19-9.log.gz
run/logs/2022-07-19-10.log.gz
run/logs/2022-07-19-11.log.gz
run/logs/2022-07-19-12.log.gz
run/logs/2022-07-19-13.log.gz
run/logs/2022-07-20-1.log.gz
run/logs/debug-1.log.gz
run/logs/debug-2.log.gz
run/logs/debug-3.log.gz
run/logs/debug-4.log.gz
run/logs/debug-5.log.gz
run/logs/debug.log
run/logs/latest.log
run/saves/NWTweaks/icon.png
run/saves/NWTweaks/level.dat
run/saves/NWTweaks/level.dat_old
run/saves/NWTweaks/session.lock
run/saves/NWTweaks/DIM-1/data/capabilities.dat
run/saves/NWTweaks/DIM-1/data/raids.dat
run/saves/NWTweaks/DIM1/data/capabilities.dat
run/saves/NWTweaks/DIM1/data/raids_end.dat
run/saves/NWTweaks/DIM1/poi/r.-1.-1.mca
run/saves/NWTweaks/DIM1/poi/r.-1.0.mca
run/saves/NWTweaks/DIM1/poi/r.0.-1.mca
run/saves/NWTweaks/DIM1/poi/r.0.0.mca
run/saves/NWTweaks/DIM1/region/r.-1.-1.mca
run/saves/NWTweaks/DIM1/region/r.-1.0.mca
run/saves/NWTweaks/DIM1/region/r.0.-1.mca
run/saves/NWTweaks/DIM1/region/r.0.0.mca
run/saves/NWTweaks/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/NWTweaks/data/capabilities.dat
run/saves/NWTweaks/data/raids.dat
run/saves/NWTweaks/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/NWTweaks/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
run/saves/NWTweaks/poi/r.-1.-1.mca
run/saves/NWTweaks/poi/r.-1.0.mca
run/saves/NWTweaks/poi/r.0.-1.mca
run/saves/NWTweaks/poi/r.0.0.mca
run/saves/NWTweaks/region/r.-1.-1.mca
run/saves/NWTweaks/region/r.-1.0.mca
run/saves/NWTweaks/region/r.-1.1.mca
run/saves/NWTweaks/region/r.0.-1.mca
run/saves/NWTweaks/region/r.0.0.mca
run/saves/NWTweaks/region/r.0.1.mca
run/saves/NWTweaks/region/r.1.-1.mca
run/saves/NWTweaks/region/r.1.0.mca
run/saves/NWTweaks/region/r.1.1.mca
run/saves/NWTweaks/serverconfig/forge-server.toml
run/saves/NWTweaks/stats/380df991-f603-344c-a090-369bad2a924a.json
run/screenshots/2022-07-19_22.49.07.png
run/screenshots/2022-07-20_22.07.55.png
